<div class="report">
  <% form_tag({ :action => :submit_report }, :name => "report") do %>
  <table border="0" style="float:left; margin-right: 100px;">
    <tr>
      <td style="text-align: right;">
        <b><%=h get_text("reported_earnings") %></b>
      </td>
      <td>
        $<input type="text" name="reported_earnings" size="4" style="text-align:right;" value="" />
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align: right;">
        <b><%=h get_text("rate") %></b>
      </td>
      <td style="border-bottom: 1px solid black; text-align: right;">
        x <%= number_to_percentage(@participant.experimental_group.tax_rate, :precision => 0) %>
      </td>
      <td>
        <script>
          function estimate()
          {
              new Ajax.Request('/experiment/estimate?estimate=' +
                               encodeURIComponent(report.reported_earnings.value));
              if(report.reported_earnings.value == "") {
                  $('error-message').update("You must enter some value.");
                  $('error-message').show();
                  report.commit.disabled = true;
              } else if(isNaN(report.reported_earnings.value)) {
                  $('error-message').update("You must enter a number.");
                  $('error-message').show();
                  report.commit.disabled = true;
              } else if(report.reported_earnings.value < 0.0) {
                  $('error-message').update("Cannot be less than zero.");
                  $('error-message').show();
                  report.commit.disabled = true;
              } else if(report.reported_earnings.value > <%= sprintf("%0.2f", (@participant.experimental_group.earnings * 5)) %>) {
                  $('error-message').update("It is not possible to earn more than $<%= sprintf("%0.2f", (@participant.experimental_group.earnings * 5)) %> in a single round.");
                  $('error-message').show();
                  report.commit.disabled = true;
              } else {
                  report.estimated_due.value = (report.reported_earnings.value * <%= @participant.experimental_group.tax_rate.to_f/100 %>).toFixed(2);
                  report.commit.disabled = false;
              }
          }
        </script>
        <input type="button" value="<%=h get_text("estimate") %>" onclick="estimate();" />
      </td>
    </tr>
    <tr style="margin-top: 10px;">
      <td style="text-align: right;">
        <b><%=h get_text("amount_due") %></b>
      </td>
      <td>
        $<input type="text" name="estimated_due"
                disabled="true" size="4" value="" style="text-align:right;" />
      </td>
      <td></td>
    </tr>
    <tr>
      <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:right;">
        <%= submit_tag(get_text("submit"), :disabled => true) %>
      </td>
      <td>
      </td>
    </tr>
  </table>

  <table cellpadding="5" style="border: 2px solid black;">
    <tr>
      <th colspan="2">Earnings Summary</th>
    </tr>
    <tr>
      <td>This round:</td>
      <td><%= number_to_currency(@participant.income_for_current_round) %></td>
    </tr>
    <tr>
      <td>Total bank:</td>
      <td><%= number_to_currency(@participant.cash) %></td>
    </tr>
  </table>

  <% end %>
</div>
