<div class="results">
  <table border="0">
    <tr>
      <td style="text-align: right;">
        <b><%=h get_text("earnings_label") %></b>
      </td>
      <td>
        <%= number_to_currency(@earned) %>
      </td>
    </tr>
    <tr>
      <td style="text-align: right;">
        <b><%=h get_text("reported_label") %></b>
      </td>
      <td style="border-bottom: 1px solid black;">
        <%= number_to_currency(@reported) %>
      </td>
    </tr>
    <tr>
      <td style="text-align: right;">
        <b>Difference</b>
      </td>
      <td>
        <b><%= number_to_currency(@difference) %></b>
      </td>
    </tr>
<% if @results_ok -%>
  </table>

  <p>You do not owe any additional amounts.</p>
<% else -%>
    <tr>
      <td style="text-align: right;">
        <b><%=h get_text("rate_label") %></b>
      </td>
      <td style="border-bottom: 1px solid black;">
        x <%= number_to_percentage(@participant.experimental_group.tax_rate, :precision => 0) %>
      </td>
    </tr>
    <tr>
      <td style="text-align: right;">
        <b><%=h get_text("additional_label") %></b>
      </td>
      <td>
        <%= number_to_currency(@additional) %>
      </td>
    </tr>
    <tr>
      <td style="text-align: right;">
        <b><%=h get_text("penalty_label") %></b>
      </td>
      <td style="border-bottom: 1px solid black;">
        <%= number_to_currency(@penalties) %>
      </td>
    </tr>
    <tr>
      <td style="text-align: right;">
        <b>Total Amount Due</b>
      </td>
      <td>
        <b><%= number_to_currency(@total) %></b>
      </td>
    </tr>
  </table>

  <p>You owe <%= number_to_currency(@total) %> in <%=h get_text("penalty_description") %>. This amount has been subtracted from your bank.</p>

<% end %>
</div>

<p>Please proceed to the next round.</p>
<p><%= link_button("Proceed", :action => "end_round") %></p>
