<div>
<h2><%= if @participant.all_complete
          if @participant.was_forced
            "FORCED"
          else
            "COMPLETE"
          end
        elsif @participant.first_login.nil?
          "NEVER LOGGED IN"
        else
          "INCOMPLETE"
        end %></h2>
</div>

<div id="tools">
  <% if @participant.all_complete %>
    <%= button_to_function("Mark as Paid", "alert('not yet implemented');") %>
  <% else %>
    <%= button_to("Reset Browser Session",
                  { :action => :reset_browser_session, :id => @participant.id },
                  :confirm => "This will disconnect any current session and allow the participant to log in again. Are you sure?",
                  :disabled => !@participant.is_active) %>
    <span id="enable-force-complete-button">
      <%= link_to_function("Force Complete", "if(confirm('Are you sure you want to permanently end this participant\\'s session?')) { $('enable-force-complete-button').hide(); new Effect.Appear('force-complete-button'); }") %>
    </span>
    <span id="force-complete-button" style="display:none;">
      <%= button_to("Force Complete",
                    { :action => :force_participant_complete, :id => @participant.id },
                    :confirm => "THIS WILL IRREVOCABLY END THIS PARTICIPANT'S SESSION. There is no way to revert this. Are you sure you want to continue?") %>
    </span>
  <% end %>
</div>

<div style="margin-bottom: 10px;">&nbsp;</div>

<div>
  <table cellspacing="0" cellpadding="5" id="participant-details">
    <tr>
      <td><b>Participant Number</b></td>
      <td><%=h @participant.participant_number %></td>
    </tr>
    <tr>
      <td><b>First Login</b></td>
      <td><%= if @participant.first_login
                @participant.first_login.strftime("%Y-%m-%d %H:%M:%S") +
                  " (" + time_ago_in_words(@participant.first_login, true) + " ago)"
              else
                "Never"
              end %></td>
    </tr>
    <tr>
      <td><b>Currently Active</b></td>
      <td><%= @participant.is_active ? "Yes" : "No" %></td>
    </tr>
    <tr>
      <td><b>Last Access</b></td>
      <td><%= if @participant.last_access
                @participant.last_access.strftime("%Y-%m-%d %H:%M:%S") +
                  " (" + time_ago_in_words(@participant.last_access, true) + " ago)"
              else
                "Never"
              end %></td>
    </tr>
    <tr>
      <td><b>Last IP/Station</b></td>
      <td>
        <% if @participant.last_ip =~ /^128.173.185.(1[1-9]|2[0-2])$/ %>
          <b><%= ($1.to_i - 10).to_s %></b> (<%= @participant.last_ip %>)
        <% else %>
          <%= @participant.last_ip %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><b>Experimental Session</b></td>
      <td>
        <%=h @participant.experimental_session.name %>
        <% if @participant.experimental_session.is_active %>
          <b>(<%= link_to("current", :action => :status) %>)</b>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><b>Experimental Group</b></td>
      <td><%=h @participant.experimental_group.name %></td>
    </tr>
    <tr>
      <td><b>Last Page Viewed</b></td>
      <td><%= if @participant.phase
              "/#{@participant.phase}/#{@participant.page}"
              else
              "&nbsp;"
              end %></td>
    </tr>
    <tr>
      <td><b>Cash</b></td>
      <td><%= number_to_currency(@participant.cash) %></td>
    </tr>
    <tr>
      <td><b>Audited?</b></td>
      <td><%= if @participant.audited
              "Yes"
              else
              "No"
              end %></td>
    </tr>
    <tr>
      <td><b>Complete?</b></td>
      <td><%= if @participant.all_complete
              "Yes"
              else
              "No"
              end %></td>
    </tr>
    <tr>
      <td><b>Forced?</b></td>
      <td><%= if @participant.was_forced
              "Yes"
              else
              "No"
              end %></td>
    </tr>
  </table>
</div>

<div style="margin-top: 40px;">
  <h2>Round History</h2>

  <p><%= link_to_remote("View Round History", :update => "round-history",
                        :url => { :action => :participant_round_history,
                                  :id => @participant.id },
                        :loading => "$('round-history-loading').show();",
                        :complete => "$('round-history-loading').hide();") %>
    <span id="round-history-loading" style="display:none;">
      <%= image_tag("tinywait.gif", :align => "top") %> Loading...
    </span>
  </p>
  <div id="round-history">
  </div>
</div>

<div style="margin-top: 40px;">
  <h2>Full Activity Log</h2>

  <p><%= link_to_remote("View Activity Log", :update => "activity-log",
                        :url => { :action => :participant_activity_log,
                                  :id => @participant.id },
                        :loading => "$('activity-log-loading').show();",
                        :complete => "$('activity-log-loading').hide();") %>
    <span id="activity-log-loading" style="display:none;">
      <%= image_tag("tinywait.gif", :align => "top") %> Loading...
    </span>
  </p>
  <div id="activity-log">
  </div>
</div>
