<html>
  <head>
    <meta http-equiv="Expires" content="0" />
    <title>Admin: <%=h @page_title %></title>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag("default", :media => :all) %>
    <%= stylesheet_link_tag("admin", :media => :all) %>
  </head>

  <body>
    <table cellspacing="0" cellpadding="60" border="1" id="print-participant-numbers">
      <% i = -1 %>
      <tr>
      <% @session.participants.each do |p|
           i += 1
           if i >= 3 %>
      </tr>
      <tr>
        <%   i = 0
           end %>
         <td><%= p.participant_number %></td>
      <% end %>
      </tr>
    </table>
  </body>
</html>
