<table>
<% if @active_session %>
  <tr class="active-session">
    <td><b>ACTIVE</b></td>
    <td><%=h @active_session.name %></td>
    <td><%= @active_session.participants.count %> participants</td>
    <td class="session-tools"><%= link_to("Status", :action => :status) %></td>
  </tr>
<% end %>
<% @sessions.each do |session| %>
  <tr class="inactive-session">
    <td>&nbsp;</td>
    <td><%=h session.name %></td>
    <td><%= session.participants.count %> participants</td>
    <td class="session-tools">
      <% if session.current_participants.count == 0 %>
        <%= link_to("Delete",
                    { :action => :delete_session, :id => session.id },
                    :method => :post,
                    :confirm => "Do you want to delete the '#{session.name}' session?") %>
      <% end %>
      <%= link_to("Add", :action => :add_participants) %>
      <% if session.unseen_participants.count > 0 and !@active_session %>
        <%= link_to("Activate",
                    { :action => :set_active_session, :id => session.id },
                    :method => :post,
                    :confirm => "Do you want to make the '#{session.name}' session active?") %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<hr />

<h2>Control Panel</h2>
<div id="control-panel">
  <% form_tag(:action => :add_session) do %>
    <b><%= label_tag("name", "New Session Name") %></b>
    <%= text_field_tag("name") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>
