<h2>Active Session: <b><%=h @active_session.name %></b></h2>

<div id="session-control">
<% if @active_session.phase == "tutorial" %>
  <b>Current Phase: Tutorial</b>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <% unless @active_session.is_locked_down or @active_session.phase != "tutorial" %>
    <%= button_to("Lockdown", { :action => :lockdown, :id => @active_session.id }, :confirm => "Locking down a session removes all unseen participants. Are you sure you want to lock down '#{@active_session.name}'?", :disabled => (@active_session.current_participants.count < 1)) %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <% end %>

  <input type="button" value="Begin Experiment"
     <% if !@active_session.phase_complete? %>disabled="true"<% end %> />
<% elsif @active_session.phase == "experiment" %>
  <b>Current Round: <%= @active_session.round %></b>
  <input type="button" value="Advance Round"
    <% if !@active_session.round_complete? %>disabled="true"<% end %> />
<% end %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<b><%= link_to("Back to All Sessions", :action => :sessions) %></b>
</div>

<table class="participants" cellspacing="0">
<tr class="participants-header">
  <th>Participant Number</th>
  <th>Experimental Group</th>
  <th>Current Phase</th>
  <th>Current Page</th>
  <th>Last Access</th>
</tr>

<% @active_session.current_participants.each do |p| %>
<tr class="current-participant" id="<%= p.participant_number %>">
  <td class="participant-number"><%=h p.participant_number %></td>
  <td><%=h p.experimental_group.name %></td>
  <td><%=h p.phase %></td>
  <td><%=h p.page %></td>
  <td><%=h time_ago_in_words(p.last_access, true) %> ago</td>
</tr>
<% end %>

<% if @active_session.unseen_participants.length > 0 %>
  <tr class="unseen-participants-header">
    <th colspan="5">Unseen Participants</th>
  </tr>
<% end %>

<% @active_session.unseen_participants.each do |p| %>
<tr class="unseen-participant">
  <td class="participant-number"><%=h p.participant_number %></td>
  <td><%=h p.experimental_group.name %></td>
  <td><%=h p.phase %></td>
  <td><%=h p.page %></td>
  <td>never</td>
</tr>
<% end %>
</table>

