<h1>Current Status</h1>

<h2><%=h @current_session.name %></h2>

<div id="session-control">
<% if @current_session.phase == "tutorial" %>
  <b>Current Phase: Tutorial</b>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="button" value="Lockdown" />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="button" value="Begin Experiment"
     <% if !@current_session.phase_complete? %>disabled="true"<% end %> />
<% elsif @current_session.phase == "experiment" %>
  <b>Current Round: <%= @current_session.round %></b>
  <input type="button" value="Advance Round"
    <% if !@current_session.round_complete? %>disabled="true"<% end %> />
<% end %>
</div>

<table class="participants" cellspacing="0">
<tr class="participants-header">
  <th>Participant Number</th>
  <th>Experimental Group</th>
  <th>Current Phase</th>
  <th>Current Page</th>
  <th>Last Access</th>
</tr>

<% @current_session.current_participants.each do |p| %>
<tr class="current-participant" id="<%= p.participant_number %>">
  <td class="participant-number"><%=h p.participant_number %></td>
  <td><%=h p.experimental_group.name %></td>
  <td><%=h p.phase %></td>
  <td><%=h p.page %></td>
  <td><%=h time_ago_in_words(p.last_access, true) %> ago</td>
</tr>
<% end %>

<% if @current_session.unseen_participants.length > 0 %>
  <tr class="unseen-participants-header">
    <th colspan="5">Unseen Participants</th>
  </tr>
<% end %>

<% @current_session.unseen_participants.each do |p| %>
<tr class="unseen-participant">
  <td class="participant-number"><%=h p.participant_number %></td>
  <td><%=h p.experimental_group.name %></td>
  <td><%=h p.phase %></td>
  <td><%=h p.page %></td>
  <td>never</td>
</tr>
<% end %>
</table>

