<h2>Active Session: <b><%=h @active_session.name %></b></h2>
<p><b><%= link_to("Back to All Sessions", :action => :sessions) %></b></p>
<% if @active_session.phase == "tutorial" %>
  <% unless @active_session.is_locked_down %>
    <%= render(:partial => "new_session_tools",
               :locals => { :new_session => @active_session } ) %>
  <% end %>
<% end %>

<div id="force-close-panel" style="display:none;">
<%= button_to("Force Close Session", { :action => :force_close },
              :confirm => "THIS SESSION WILL IMMEDIATELY END AND BE UNRECOVERABLE IF YOU CLOSE IT. Are you sure you want to do this?",
              :id => "force-close-button",
              :disabled => true) %>
</div>

<div id="participant-table">
  <%= render(:partial => "participant_table",
             :locals => { :this_session => @active_session } ) %>
</div>

<div style="margin-top: 50px; padding-left: 20px;">
  <%= button_to_function("Unlock Force Close Button",
                         "if(confirm('Are you sure you want to force this session closed?')) " +
                         "{ $('force-close-button').disabled = false; " +
                         "new Effect.Appear('force-close-panel'); }") %>
</div>

<script language="javascript">
function constantlyUpdateTable()
{
    new Ajax.Updater('participant-table','/admin/status', {asynchronous:true, evalScripts:true, method:'get'})
    setTimeout('constantlyUpdateTable();',2000);
}
setTimeout('constantlyUpdateTable();',2000);
</script>

