<h2>Active Session: <b><%=h @active_session.name %></b></h2>

<div id="session-control">
<% if @active_session.phase == "tutorial" %>
  <b>Current Phase: Tutorial</b>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <% unless @active_session.is_locked_down %>
    <%= button_to_remote("Add Participants",
                         :url => { :action => :add_participants,
                                   :id => @active_session.id },
                         :method => :get,
                         :update => "add-participants-target",
                         :complete => "$('controlrow#{@active_session.id}').show();") %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <%= button_to("Lockdown", { :action => :lockdown, :id => @active_session.id },
                  :confirm => "Locking down a session removes all unseen participants. Are you sure you want to lock down '#{@active_session.name}'?",
                  :id => "lockdown-button",
                  :disabled => (@active_session.current_participants.count < 1)) %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <% end %>
<% end %>
<b><%= link_to("Back to All Sessions", :action => :sessions) %></b>
</div>
<div id="controlrow<%= @active_session.id %>" style="display:none;width:500px;">
  <div id="add-participants-target">
  </div>
</div>

<div id="participant-table">
  <%= render(:partial => "participant_table") %>
</div>

<script language="javascript">
function constantlyUpdateTable()
{
    new Ajax.Updater('participant-table','/admin/status', {asynchronous:true, evalScripts:true, method:'get'})
    setTimeout('constantlyUpdateTable();',1000);
}
setTimeout('constantlyUpdateTable();',1000);
</script>

