<html>
  <head>
    <meta http-equiv="Expires" content="0" />
    <title>Experiment: <%=h((get_text("title") || @page_title)) %></title>
    <%= stylesheet_link_tag("default", :media => :all) %>
    <%= javascript_include_tag :all %>
  </head>

  <body>
    <div class="content">
      <% if @display_bank %>
        <span class="bank"><%= number_to_currency(@participant.cash) %></span>
      <% end %>
      <% if @seconds_remaining %>
        <span id="task-timer"></span>
        <script language="javascript">
          run_timer(<%= @seconds_remaining %>);
        </script>
      <% end %>

      <h1><%=h((get_text("title") || @page_title)) %></h1>

      <div class="error" id="error-message"<% if flash[:error] %>><%= flash[:error] %><% else %> style="display:none;"><% end %></div>

      <%= yield :layout %>
    </div>
  </body>
</html>
