<html>
  <head>
    <meta http-equiv="Expires" content="0" />
    <title>Experiment: <%=h((get_text("title") || @page_title)) %></title>
    <%= stylesheet_link_tag("default", :media => :all) %>
  </head>

  <body>
    <div class="content">
      <% if @display_bank %>
        <span class="bank"><%= number_to_currency(@participant.cash) %></span>
      <% end %>

      <h1><%=h((get_text("title") || @page_title)) %></h1>

      <% if flash[:error] %>
        <div class="error"><%= flash[:error] %></div>
      <% end %>

      <%= yield :layout %>
    </div>
  </body>
</html>
