<html>
  <head>
    <meta http-equiv="Expires" content="0" />
    <title>Tutorial: <%=h get_text("title") %></title>
    <%= stylesheet_link_tag("default", :media => :all) %>
    <%= stylesheet_link_tag("tutorial", :media => :all) %>
    <%= javascript_include_tag :all %>
  </head>

  <body>
    <div class="content">
      <h1>Tutorial: <%=h get_text("title") %></h1>
      <% if flash[:error] %>
        <div class="error"><%= flash[:error] %></div>
      <% end %>

      <%= yield :layout %>

      <div class="tutorial-navigation">
        <% if prev_page -%>
          <%= link_button("<< Back", :action => prev_page) %>
        <% end -%>
        <% if next_page and
               not %w( earnings_task tax_return disclosure_report ).include? action_name -%>
          <%= link_button("Next >>", :action => next_page) %>
        <% end -%>
      </div>
    </div>
  </body>
</html>
